*{
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 0px){
    .box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    img{
        margin: 5px;
        width: 500px; 
        height: 500px;
    }
    
}
@media (min-width: 640px){
    .box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    img{
        margin: 25px;
        width: 250px; 
        height: 250px;
    }
}
@media (min-width: 768px){
    .box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    img{
        margin: 50px;
        width: 250px; 
        height: 250px;
    }
}
@media (min-width: 1024px){
    .box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    img{
        margin: 15px;
        width: 225px; 
        height: 175px;
    }
}
